* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Orbitron", sans-serif;
  color: #fff;
}
.page {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
}
.page__content {
    position: absolute;
  display: flex ;
  flex-direction: column ;
  align-items: center ;
  text-align: center ;
}
.page h1 {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.page h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  max-width: 400px;
  margin-bottom: 3rem;
}
.btn{
    width: 170px;
    height: 65px;
    background: #fff;
    color: #000;
    font-size: 1rem;
    font-family: 'Poppins';
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0.4rem;
    font-weight: 700;
    cursor: pointer;
}
.flip-clock {
  --fcc-flip-duration: 0.5s;  /* transition duration when flip card */
  --fcc-digit-block-width: 34px !important ;/* digit card's width */
  --fcc-digit-block-height: 62px !important; /* digit card's height */
  --fcc-digit-font-size: 38px !important; /* font size of digit */
  --fcc-digit-color: white !important; /* color of digit */
  --fcc-background: black !important; /* digit card's background */
  --fcc-label-color: #ffffff ; /* time label's color */
  --fcc-divider-color: #ffffff66; /* divider's color */
}
.flip-clock {
    font-family: "Orbitron";
  font-weight: 700 !important;
  max-width: 100%; /* Para que el reloj ocupe todo el ancho disponible */
  margin: 0 auto; /* Centrar horizontalmente */
  margin-bottom: 3rem !important;
  display: flex; /* Agregar display flex */
  flex-direction: row; /* Mostrar los elementos en una fila en lugar de una columna */
  justify-content: center; /* Centrar horizontalmente los elementos */
  align-items: center; /* Centrar verticalmente los elementos */
}

@media (min-width: 900px) {
    .page h1 {
        font-size: 4rem;
    }
    .page h3 {
    max-width: 600px;
  }
  .flip-clock {
    --fcc-flip-duration: 0.5s;  /* transition duration when flip card */
    --fcc-digit-block-width: 100px !important ;/* digit card's width */
    --fcc-digit-block-height: 100px !important; /* digit card's height */
    --fcc-digit-font-size: 100px !important; /* font size of digit */
    --fcc-digit-color: white !important; /* color of digit */
    --fcc-background: black !important; /* digit card's background */
    --fcc-label-color: #ffffff !important; /* time label's color */
    --fcc-divider-color: #ffffff66 !important; /* divider's color */
  }
}
